<footer class="container-fluid border-top d-print-none">
  <div class="row">

    <div class="col-12 p-3">

      <ul class="list-unstyled">
        <li class="">
          {%- if site.author -%}
          {{ site.author | escape }}
          {%- else -%}
          {{ site.title | escape }}
          {%- endif -%}
        </li>
        {%- if site.email -%}
        <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif -%}
      </ul>

      <div class="social">
        {%- include social.html -%}
      </div>

    </div>

  </div>
</footer>
