<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li style="font-size: 1em;"><a href="/">Home</a></li>
		        	<li style="font-size: 1em;"><a href="/about">About</a></li>
	        		<li style="font-size: 1em;"><a href="/cv">CV</a></li>
	        		<li style="font-size: 1em;"><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li style="font-size: .8em;"><a href="mailto:david.castro.moraga@gmail.com">Email</a></li>
        		<li style="font-size: .8em;"><a href="https://github.com/davcastrom/davcastrom.github.io">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
